# --- DATABASE CONFIGURATION ---
POSTGRES_USER=mysecureuser
POSTGRES_PASSWORD=MyVerySecure!@Password123
POSTGRES_DB=obelms_prod

# --- FRONTEND CONFIGURATION ---
# Pastikan URL ini mengarah ke domain publik di mana Nginx Anda berada (tanpa trailing slash)
REACT_APP_BACKEND_URL=https://belajar.stkippacitan.ac.id
